
@{
    ViewBag.Title = "SuaGioHang";
    Layout = "~/Views/HTMLfile/GioHang.cshtml";
}


@using Supermaket.Models
@model List<GioHang>
<table class="table">
    <thead>
        <tr>
            <td>Mã sản phẩm</td>
            <td>Tên sản phẩm</td>
            <td></td>
            <td>Đơn giá</td>
            <td>Số lượng</td>
            <td>Thành tiền</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.sMaHang</td>
            <td>@item.sTenHang</td>
            <td>
                <img src="@Url.Content("~/Images/Product/" +item.sAnh)"
                     width="50" height="55" />
            </td>

            <td>@item.dGiaBan</td>

            @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { @sMaSP = item.sMaHang }))
            {
                <td>
                    @Html.TextBox("txtSoLuong", item.iSoLuong)
                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                </td>
            }
            <td>@item.dThanhTien</td>
            @using (Html.BeginForm("XoaGioHang", "GioHang", new { @sMaSP = item.sMaHang }))
            {
                <td>
                    <button type="submit" class="btn btn-danger">Xoá</button>
                </td>
            }
        </tr>
        }

    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>@Html.ActionLink("Mua tất cả", "GioHang")</td>
        </tr>
    </tfoot>
</table>


